<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>var csrf_token = $("{% csrf_token %}").val();</script>
        <script>
			   function sendMessage(){
                var messageData = $("#message").val();
					$("#message").prop("disabled", true);

                $.ajax({
						  url:'{% url 'sendMessage' %}',
                    data:{message: messageData},
                    type:"POST",
                    processData: true,
                    headers:{"X-CSRFToken": csrf_token},
						  success:function(content, response){
							   // response should equal "success"
							   console.log(content);
							   $("#conversation").text(content["response"]);
							   if(!checkSessionIDExistence()){
							       // save newly generated conversation_id
                                    setSessionID(content["conversation_id"]);
                               }
							   $("#message").prop("disabled", false);
							   
						  }
					 });
				}

            function checkSessionIDExistence() {
                var sessionID = getSessionID();
                if(sessionID) {
                    return true;
                }else {
                    return false;
                }
            }

            function getSessionID() {
                var name = "conversation_id=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function setSessionID(sessionID) {
                var exdays = 30;
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires="+d.toUTCString();
                document.cookie = "conversation_id=" + cvalue + ";" + expires + ";path=/";
            }
        </script>
        <style type="text/css">
            body { background: black !important; }
            .messageBox-vertical-center {
              min-height: 100%;
              min-height: 100vh;

              display: flex;
              align-items: center;
                position: sticky;
            }
            .text{
                color: #ffffff;
                text-align: center;
            }
            .image-center{
                text-align: center;
            }
            .pic-pos{
                position: relative;
            }
            .msg-pos{
                position: absolute;
            }
        </style>
    </head>
<body>
{% load staticfiles %}
<img src="{% static 'imgs/Hearts.jpg' %}" class="rounded mx-auto d-block pic-pos" alt="Responsive image">
<div id="conversation" class="text">Hello.</div>
    <div class="container">


            <div class="col">
		      <form onsubmit="sendMessage();return false;">
                <div class="messageBox-vertical-center">
                  <input type="text" class="form-control" placeholder="message..." aria-label="message..." aria-describedby="basic-addon2" id="message">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">send</button>
                  </div>
                </div>
            </form>
            </div>

    </div>
</body>
</html>
